<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/FRAME.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->

    <title>메인페이지</title>
</head>

<body>

<nav class="navbar blueB">

    <div class="top">
        <img src="../img/menu3.png" width="30rem" height="30rem" class="navbar-toggler" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">

        <p class="logo">축하싶</p>

        <a href="/chatroom"><img src="../img/envelope.png" class="menu_img" width="40rem" height="40rem" ></a>
    </div>

    <div class="collapse navbar-collapse" id="navbarsExample01">
        <div class="mypage">
            <img src="../profile_img/<%= profile_img %>" id="profile_pic" style="margin-right: .2rem; width:3rem; height: 3rem">
            <span id="name" style="font-weight: bold; font-size: 1.2rem; margin-left: .5rem"><%= teamname %> 팀</span>
            <a href="/teamprofile"><button class="btn btn-sm btn-warning" type="submit" style="margin-right: .5rem">내 정보</button></a>
			<a href="/uploadimg"><button class="btn btn-sm btn-warning" type="submit" style="margin-right: .5rem">프로필 사진 변경</button></a>
            <a href="/logout"><button class="btn btn-sm btn-warning" type="submit">로그아웃</button></a>
        </div>

        <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">홈 (매칭 팀 검색)</a>
      </li>
      <li class="nav-item" style="display:flex; align-items:center">
        <span style="margin-bottom: 0; padding: .5rem 0rem; color:white">우리 팀</span>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/teamreceivedreview" style="margin-left:2rem">우리 팀 평가 점수</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teamschedule" style="margin-left:2rem">경기 스케줄</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="matchapplication">매칭 등록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mymatch">내가 등록한 매칭</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">개발자에게 연락</a>
      </li>
    </ul>

    </div>
</nav>

<div class="py-4 text-center"></div>

<div class="search blueB">
    <div class="top_range">
        <p class="logo"><img src="../img/soccer_30.png" alt="" style="margin-right: 1rem">매칭팀 찾기</p>
        <a href="/mainsearch"><img src="../img/down_60.png" class="btn" width="60" style="float: right;"></a>
    </div>
</div>

<div class="container">
    <div class="reco" style="margin-top: 1rem">
        <div style="display:flex; justify-content: space-between; align-items: center" class="mb-3">
            <span style="font-weight: bold;">매칭추천</span>

			
			<form action="/" name="changesubmit" method="post">
            <select class="custom-select" name="sort" id="sort" style="width: 8rem">
                <option selected value="0">정렬 기준</option>
				<option value="1">지역</option>
				<option value="2">성별</option>
				<option value="3">평균 연령대</option>
            </select>
			</form>
				 <script type="text/javascript">
					 
  						jQuery(function() {
    						jQuery('#sort').change(function() {
								this.form.submit();
							});
						});
				</script>
			
        </div>
		
		<% if(event_data[0] == null) { %>
        <p style="font-weight: bold">등록된 매칭이 없습니다.</p>
        <%} else{ %>
		
		<% for(var i=0; i<event_data.length; i++){
			var curEmail = event_data[i].email;
            var curTeamname = event_data[i].teamname;
            var curPlace = event_data[i].place;
            var curMove = event_data[i].move;
            var curAge = event_data[i].age;
            var curGender = event_data[i].gender;
            var curDate = event_data[i].event_date;
            var curTime = event_data[i].event_time;
            var curDay = event_data[i].event_day;
            var curMention = event_data[i].mention;
            var curCreatedMonth = event_data[i].created_month;
            var curCreatedDay = event_data[i].created_day;
            //var geoLng = event_data[i].geoLng;
            //var geoLat = event_data[i].geoLat;
            var curNofteam = event_data[i].nofteam;
            var matchYear = curDate.substring(0,4);
            var matchMonth = curDate.substring(5,7);
            var matchDay = curDate.substring(8,10);
			
			if(curGender == 25) {
                curGender = '무관';
            }else if(curGender == 50) {
                curGender = '남자';
            }else if(curGender == 100){
                curGender = '여자';
            }
			
			if(curMove == 100){
				curMove = 'O';
			}else if(curMove == 50){
				curMove = 'X';
			}
        %>
		

        <!--<p>로로롱팀의 팀 정보를 기반으로 가장 일치하는 순으로 추천된 리스트입니다.</p>-->

        <div class="list mb-3">
            <div class="list_item">
                <div class="list_item_date">
                    <h3><%= matchMonth %>.<%= matchDay %></h3>
                </div>
                <div class="list_item_team">
                    <p class="list_item_team_detail">
                        성별 : <%= curGender %><br>
                        나이 : <%= curAge %>대<br>
                        장소 : <%= curPlace %><br>
						팀원 : <%= curNofteam %>명<br>
                        한마디 : <%= curMention %><br>
                    </p>
                    <h6 class="list_item_team_name"><%= curTeamname %> 팀</h6>
                </div>

            </div>
        </div>
		<%}%>
		<%}%>


        <!--페이지 넘기는 버튼-->
        <div class="paging">
            <ul>
                <li><a href="#"><</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">></a></li>
            </ul>
		</div>
    </div>
</div>

</body>
</html>