<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/FRAME.css" rel="stylesheet">
    <link href="../css/chat.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="jquery-3.1.1.min.js"></script>
    <title>채팅방</title>
</head>
<!--메뉴 영역 시작 : 나중에 파일로 따로 빼기 -->
<!--여기선 메뉴명 채팅방으로 되어 있음-->


<body class="whiteB">

<script type="text/javascript">
    function goBack(){
        window.history.back();
    }
</script>

<nav class="navbar blueB">

    <div class="top">
        <div>
            <img src="../img/left-arrow.png" alt="" width="20rem" height="20rem" style="margin-right:3rem" onclick="goBack()">

            <p class="logo ml-sm-3"> <%=event_data[0].teamname%>팀 으로부터 받은 메시지</p>
        </div>
    </div>
</nav>

<div class="py-4 text-center"></div>

<!--메뉴 영역 끝 : 나중에 파일로 따로 빼기 -->

<div class="container">
    <div class="reco" style="margin-top: 2.3rem">
        <div class="mb-3">
            <p style="font-size: .9rem">'매칭 신청한 사람이 내가 아니고 매칭 신청 대상이 나인 것' 중 가장 첫번째 값임. 나중에 목록에서 클릭해서 넘어온 값으로 바꿈. </p>
            <hr>
            <p style="line-height: 2rem">
                주장 이메일 : <%= event_data[0].email %><br>
                팀명 : <%= event_data[0].teamname %> 팀<br>
                지역 : <%= event_data[0].region[0] %><br>
                장소 : <%= event_data[0].place %><br>
                원정가능 여부 : <%= event_data[0].move %><br>
                연령대 : <%= event_data[0].age %>대<br>
                성별 : <%= event_data[0].gender %><br>
                경기 날짜 : <%= event_data[0].others.sEvent_date %><br>
                경기 시간 : <%= event_data[0].others.sEvent_time %><br>
                경기 요일 : <%= event_data[0].others.sEvent_day %>요일<br>
                한마디 : <%= event_data[0].mention %><br>
                신청 날짜 : <%= event_data[0].others.sCreatedMonth %>월 <%= event_data[0].others.sCreatedDay %>일<br>
                인원수 : <%= event_data[0].nofteam %>명<br>
            </p>
            <p><%= event_data[0].teamname %>팀이 해당 경기 날짜에 매칭 신청합니다. 수락하시겠습니까?<br><br></p>
            <div style="text-align: center">
                <button type="submit" class="btn">매칭 거절</button>
                <button type="submit" class="btn">매칭 수락</button>
            </div>
        </div>
    </div>
</div>