<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/FRAME.css" rel="stylesheet">
    <link href="../css/chat.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="jquery-3.1.1.min.js"></script>
    <title>채팅방</title>
</head>
<!--메뉴 영역 시작 : 나중에 파일로 따로 빼기 -->
<!--여기선 메뉴명 채팅방으로 되어 있음-->


<body class="whiteB">

<script type="text/javascript">
    function goBack(){
        window.history.back();
    }
</script>

<nav class="navbar blueB">

    <div class="top">
        <div>
            <img src="../img/left-arrow.png" alt="" width="20rem" height="20rem" style="margin-right:3rem" onclick="goBack()">

            <p class="logo ml-sm-3"> <%=others.sTeamname%> 팀으로부터 받은 메시지</p>
        </div>
    </div>
</nav>

<div class="py-4 text-center"></div>

<!--메뉴 영역 끝 : 나중에 파일로 따로 빼기 -->

<div class="container">
    <div class="reco" style="margin-top: 2.3rem">
        <div class="mb-3">
            <p style="line-height: 2rem">
                주장 이메일 : <%= others.sEmail %><br>
                팀명 : <%= others.sTeamname %> 팀<br>
                지역 : <%= others.sRegion %><br>
                장소 : <%= others.sPlace %><br>
                원정가능 여부 : <%= others.sMove %><br>
                연령대 : <%= others.sAge %>대<br>
                성별 : <%= others.sGender %><br>
                경기 날짜 :<br>
                경기 시간 :<br>
                경기 요일 : 요일<br>
                한마디 : <%= others.sMention %><br>
                신청 날짜 : <%= others.sCreatedMonth %>월 <%= others.sCreatedDay %>일<br>
                인원수 : <%= others.sNofteam %>명<br>
                별점 : 넣어야 됨<br>
            </p>
            <p>해당 경기 날짜에 매칭 신청합니다. 수락하시겠습니까?<br><br></p>

            <form action="/message" method="post">

            <div style="text-align: center">
                <button type="submit" class="btn">매칭 거절</button>
                <button type="submit" class="btn">매칭 수락</button>
            </div>

            </form>
        </div>
    </div>
</div>