<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/team_received_review.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/FRAME.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <title>우리 팀 평가</title>
</head>
<!--메뉴 영역 시 -->
<!--여기선 메뉴명 우리 팀 평가로 되어 있음-->

<script type="text/javascript">
    function goBack(){
        window.history.back();
    }
</script>

<nav class="navbar blueB">
    <div class="top">
        <img src="../img/menu3.png" width="30rem" height="30rem" class="navbar-toggler" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">

        <p class="logo">우리팀 평가</p>

        <a href="/chatroom"><img src="../img/envelope.png" class="menu_img" width="40rem" height="40rem" ></a>
    </div>

    <div class="collapse navbar-collapse" id="navbarsExample01">
        <div class="mypage">
            <div class="img_div" style="margin-left: 0rem; margin-right: 0"><img class="profile_img" src="../profile_img/<%= profile_img %>" id="profile_pic"/></div>
            <span id="name" style="font-weight: bold; font-size: 1.2rem; margin-left: .5rem"><%= teamname %> 팀</span>
            <a href="/teamprofile"><button class="btn btn-sm btn-warning" type="submit" style="margin-right: .5rem">내 정보</button></a>
            <a href="/uploadimg"><button class="btn btn-sm btn-warning" type="submit" style="margin-right: .5rem">프로필 사진 변경</button></a>
            <a href="/logout"><button class="btn btn-sm btn-warning" type="submit">로그아웃</button></a>
        </div>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">홈 (매칭 팀 검색)</a>
            </li>
            <li class="nav-item" style="display:flex; align-items:center">
                <span style="margin-bottom: 0; padding: .5rem 0rem; color:white">우리 팀</span>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/teamreceivedreview" style="margin-left:2rem">우리 팀 평가 점수</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teamschedule" style="margin-left:2rem">경기 스케줄</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="matchapplication">매칭 등록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mymatch">내가 등록한 매칭</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">개발자에게 연락</a>
            </li>
        </ul>

    </div>
</nav>

<div class="py-4 text-center"></div>

<!--메뉴 영역 끝-->


<div class="container">
    <div class="reco" style="margin-top: 2.3rem">
        <div class="team_score">
            <div class="team_inform" style="">

                <div class="img_div" style="margin-left: 0rem; margin-right: 0; margin-bottom: 1rem"><img class="profile_img" src="../profile_img/<%= profile_img %>" id="profile_pic"/></div>


                <h6 style="font-weight: bold"><%= teamname %> 팀</h6>
            </div>

            <div class = average-score>
                <span style="font-size:3rem; font-weight:bold">
                    <% var average = 0; %>

                    <% for(var i = 0; i < event_data.length; i++) {
                        average = average + parseInt(event_data[i].rating);
                    }%>

                    <%if(average === 0) {
                        var result = 0;
                        result.toFixed(2);
                    }else {
                        var result = (Math.round((average/event_data.length) * 100)/100).toFixed(2);
                    }%>

                    <%= result%>
                </span>

                <div class="stars mb-3">
                    <% for(var i = 0; i < Math.round(result)-1; i++) {%>
                    <img src="../img/star.png" width="20" height="20">
                    <% if(i == Math.round(result)-2){%>
                    <%if ((result % 1) < 0.5) { %>
                    <img src="../img/star.png" width="20" height="20">
                    <%} else {%>
                    <img src="../img/star-half.png" width="20" height="20">
                    <%}%>
                    <%}%>
                    <%}%>
                    <%for(var i = 1; i < 5 - Math.round(result - 1); i++) {%>
                    <img src="../img/star-empty.png" width="20" height="20">
                    <%}%>
                </div>
                <span style="color:#efce4a"><%= event_data.length %>개의 평가</span>
            </div>
        </div>

        <% if(event_data.length == 0) { %>
        <div class="review">
            <hr class="mb-4">
            <p>받은 리뷰가 없습니다.</p>
        </div>
        <%}%>

        <% for(var i = 0; i < event_data.length; i++) {
            var reviewer_teamname = event_data[i].otherTeam;
            var event_date = event_data[i].review_date;
            var rating = event_data[i].rating;
            var review_comment = event_data[i].review_comment;
            var random = Math.floor(Math.random() * 100000) + 100000;
        %>

        <hr class="mb-4">
        <div class="review">
            <div class="review-random-profile mb-2">
                <div class="review-name">
                    <span style="font-weight:bold">
                        <%= reviewer_teamname %>
                        <%= random %>&nbsp</span>

                    <div class="stars">
                        <% for(var j = 0; j < rating; j++) {%>
                        <img src="../img/star.png" width="10" height="10">
                        <%}%>
                        <% for(var j = 1; j <  6 - rating; j++){ %>
                        <img src="../img/star-empty.png" width="10" height="10">
                        <%}%>
                    </div>

                </div>
                <span class="review-date"><%= event_date %></span>
            </div>

            <span class="review-comment"><%= review_comment %></span>
        </div>
        <%}%>
    </div>
</div>
</body>
</html>