<!doctype html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>팀 회원 정보</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/profile.css" rel="stylesheet">

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</head>

<body class="whiteB">
   
<script type="text/javascript">
    function goBack(){
        window.history.back();
    }
</script>


<nav class="navbar blueB">
    <div style="display: flex; justify-content: space-between; align-items: center;  margin-left:1rem; margin-right:1rem;">
        <img src="../img/left-arrow.png" alt="" width="20rem" height="20rem" style="margin-right:3rem;" onclick="goBack();">
		<a href="/"><p onclick="/" class="logo">축하싶</p></a>
        <p class="logo">우리 팀 정보</p>
    </div>
</nav>
<br>
<div class="container">
    <div class="reco">
        <h5 class="mb-3" style="font-weight: bold">기본 정보</h5>

        
        <%
                    if(gender == 25) {
                        var curGender = '무관';
                    }else if(gender == 50) {
                        var curGender = '남자';
                    }else if(gender == 100){
                        var curGender = '여자';
                    }

                    if(move == 100){
                        var curMove = 'O';
                    }else if(move == 50){
                        var curMove = 'X';
                    }
            %>
        
            <p class="mb-3">
            <p>프로필 사진</p> <!--프로필 사진-->
            <div class="profile_img_upload">
                <div class="img_div mb-1"><img id="profile_img" src="../profile_img/<%= profile_img %>"/></div>
            </div>

            <div class="mb-3">
                <div>팀 이름</div>
            <div class="change"><%= teamname %></div>
            <!--이름-->
                <!--<input type="text" class="form-control" id="user-name" placeholder="" value="" required>-->
                <!--<div class="invalid-feedback">-->
                    <!--Valid name is required.-->
                <!--</div>-->
            </div>

            <div class="mb-3"> <!--아이디-->
                <div>팀장 이메일</div>
            <div class="change"><%= email %></div>
            
                <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control" id="user-ID" placeholder="" required>-->
                    <!--<div class="invalid-feedback" style="width: 100%;">-->
                        <!--Your ID is required.-->
                    <!--</div>-->
                <!--</div>-->
            </div>
      
         <div class="mb-3">
                <div id="user-gender">성별</div>
            <div class="change"><%= curGender %></div>
                <!--<select class="custom-select d-block w-100" id="user-gender" required>-->
                    <!--<option value="">Choose...</option>-->
                    <!--<option>여</option>-->
                    <!--<option>남</option>-->
                <!--</select>-->
            </div>
      
			<div class="mb-3">
                <div>평균 연령</div>
                <div class="enter">
                <div class="change one"><%= age %></div><div class="two">세</div>
                </div>
            </div>

      
            <div class="mb-3">
                <div>주 경기 장소</div>
            <div class="change"><%= region %></div>
                <!--<input type="text" class="form-control" id="region" placeholder="서울시 용산구 청파동" required>-->
            </div>
   
   
   
         <div class="mb-3">
                <div>원정 가능 유무</div>
            <div class="change"><%= curMove %></div>
                <!--<select class="custom-select d-block w-100" name="move" id="" required>
                    <option>O</option>
                    <option>X</option>
                </select>-->
            </div>
   
   
   
         <div class="mb-3">
                <div>팀원 수</div>
                <div class="enter">
                    <div class="change one"><%= nofteam %></div><div class="two">명</div>
                </div>
            </div>
   
   
   
         <div class="mb-3">
                <div>경기 경력</div>
                <div class="enter">
                    <div class="change one"><%= career_year %></div><div class="two">년</div>
                </div>
            </div>
      
      
         <div class="mb-3">
                <div>여태까지 경기 횟수</div>
                <div class="enter">
                    <div class="change one"><%= career_count %></div> <div class="two">번</div>
                </div>
            </div>
   
      
         <div class="mb-3">
                <div>팀 소개글</div>
                <div class="change"><%= introteam %></div>
            </div>
   
   

            <hr class="mb-4">

        <a href="/teamprofileedit"><button class="btn btn-block">회원정보 수정하기</button></a>
    </div>
</div>
</body>
<footer class="my-5 pt-5 text-muted text-center text-small">

</footer>
</html>